/* index.css */

body {
  font: 14px/1.5em "Lato", sans-serif;
  background: url(images/avo-egg.jpg) #000 no-repeat center center fixed;
}

h1 {
  font: 2em/1.5em "Gugi", cursive;
  color: white;
  margin-top: 5%;
}

h2 {
  font: 1.3em/1.5em "Gugi", cursive;
}

h3 {
  font: 1.1em/1.5em "Gugi", cursive;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr {
  border-top: 1px solid #6ab316;
}

span {
  color: #4bb177;
}

section {
  background: white;
  border: 1px solid #6ab316;
  width: 100%;
  padding:20px;
}

button {
  cursor: pointer;
}

/* input styles */
input[type=text] {
  border: 1px solid #6ab316;
  border-radius: 4px;
  background-color: #ddf2e3;
  font: 1em/1.5em "Gugi", cursive;
  color: black;
  padding: 5px;
  width: 93%;
}

/* tool tip styles start */
li[data-descr] {
  cursor: pointer;
  position: relative;
}

li[data-descr]:hover::after {
  content: attr(data-descr);
  border: 7px solid #f2b0b0;
  border-radius: 5px;
  background-color: #f8d9d9;
  position: absolute;
  right: 24%;
  top: 33%;
  z-index: 100;
  padding: .7rem;
  color: #813d3d;
  font: 1em/1.5em "Gugi", cursive;
}
/* tool tip styles end */

/* css grid styles */
.item-a {
  grid-area: header;
}

.item-b {
  grid-area: sidebar;
}

.item-c {
  grid-area: report;
}

.item-d {
  grid-area: food-log;
}

.container {
  display: grid;
  grid-gap: 50px 20px; /* short hand for grid-column-gap and grid-row-gap */
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "sidebar"
    "report"
    "food-log";
  justify-items: center;  /*Aligns the content inside a grid item along the row axis. not fully supported!*/
}
/* end - css grid styles */

.video-background {
  display: none;
}

.err-msg {
  color: orange;
}

.food-item {
  background: #ddf2e3;
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
}

.food-item:hover {
  background: #bcf4ee;
  transition: background .2s ease;
  cursor: pointer;
}

.search-results {
  margin: 0 auto;
  overflow: auto;
  height: 350px;
  -ms-overflow-style: none; /* hide scrollbars in IE 10+ - ref #1.*/
}

.report-results {
  margin: 0 auto;
  overflow: auto;
  height: 480px;
  -ms-overflow-style: none; /* hide scrollbars in IE 10+ - ref #1.*/
}

::-webkit-scrollbar {
  display: none; /* hide scrollbars in webkit-based browsers - ref #1.*/
}

.report-item {
  border-radius: 47px 20px 94px 20px;
  border: 1px solid #6ab316;
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.report-item:hover {
  background: #efebea;
  border: 1px solid #f8bebe;
}

.chart {
  width: 300px;
}

.log {
  font-size: 0.8em;
}

@media only screen and (min-width: 500px) {
  /* styles applied above 500px */
  section {
    border-radius: 47px 20px 94px 20px;
    border: 1px solid #6ab316;
    min-height: 650px;
  }

  /* css grid styles */
  .container {
    grid-gap: 50px 100px; /* short hand for grid-column-gap and grid-row-gap */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* free space split into 5 equal cells */
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header header" /* the header should take up 5 cells */
      ". sidebar sidebar sidebar ."
      ". report report report ."
      ". food-log food-log food-log .";
  }
  /* end - css grid styles */

  .chart {
    width: 270px;
  }
}

@media only screen and (min-width: 750px) {
  /* styles applied above 750px */
  video {
    display: block;
  }

  .video-background {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(images/avo-egg.jpg) no-repeat;
    background-size: cover;
  }

  .chart {
    width: 420px;
  }

}

@media only screen and (min-width: 1000px) {
  /* styles applied above 1000px */
  section {
    width: 200px;
    height: 700px;
  }

  .nutri-logo {
    display: block;
    margin: 20px;
  }

  .chart {
    width: 200px;
  }

  /* css grid styles */
  .container {
    grid-gap: 20px 60px; /* short hand for grid-column-gap and grid-row-gap */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* free space split into 5 equal cells */
    grid-template-rows: auto 600px;
    grid-template-areas:
      "header header header header header" /* the header should take up 5 cells */
      ". sidebar report food-log ."; /* the sidebar 1 cell and main 2 cells with a blank cell either side */
  }
  /* end - css grid styles */
}

@media only screen and (min-width: 1200px) {
  /* styles applied above 1200px */
  body {
    font: 16px/1.5em "Lato", sans-serif;
  }

  h1 {
    font: 2.5em/1.5em "Gugi", cursive;
  }

  section {
    width: 250px;
  }

  .chart {
    width: 250px;
  }
}

@media only screen and (min-width: 1700px) {
  /* styles applied above 1700px */
  section {
    width: auto;
  }

  .item-b, .item-d {
    width: 250px;
  }

  .chart {
    width: 600px;
  }

  /* css grid styles */
  .container {
    grid-gap: 20px 100px; /* short hand for grid-column-gap and grid-row-gap */
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr; /* free space split into 5 equal cells */
    grid-template-areas:
      "header header header header header" /* the header should take up 5 cells */
      ". sidebar report food-log ."; /* the sidebar 1 cell and main 2 cells with a blank cell either side */
  }
  /* end - css grid styles */
}